.button {
    -fx-font-weight: bold;
    -fx-font-family: Forte;
    -fx-font-size: 30;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-alignment: left;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-font-family: Forte;
    -fx-font-size: 30;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-alignment: left;
    -fx-text-fill: #FA7242;
}

.button:pressed {
    -fx-font-weight: bold;
    -fx-font-family: Forte;
    -fx-font-size: 30;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-alignment: left;
    -fx-text-fill: #FA7242;
    -fx-rotate: 10;
}

